<!DOCTYPE html>
<html>
<head>
	<title>NodeAdmin</title>
	<script src="/JS/jquery.js"></script>
	<script src="/JS/script.js"></script>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">NodeShared</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Salir</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">lista de daemons</div>
				<div class="panel-body">
					<select class="form-control">
						<option value="#1">#1</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">access.log</div>
				<div class="panel-body">
				</div>
			</div>
			<div class="panel panel-danger">
				<div class="panel-heading">error.log</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>